@import './styles/variables.scss';
@import './styles/normalise.scss';
@import './styles/base';

.data-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    flex: 1 1 calc(25% - $base-spacing);
    border: 2px solid;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing;
  }

  &__link {
    background: $palette-plain;
    padding: $base-spacing * 1.5;
    display: block;
  }

  &__link:hover {
    box-shadow: 0 0px $base-spacing * 1.5 2px $palette-black
  }
}

.content__wrapper {
  display: flex;
  padding: 2rem;
  flex: 1;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  &-form {
    align-items: flex-end;
  }

  &.customer__wrapper {
    flex-direction: column;
  }
}

.customer__information {
  flex: 1 1 100%;
  margin-top: $base-spacing * 2;
}
