@import './styles/variables.scss';
@import './styles/normalise.scss';
@import './styles/base';

.data-wrapper {
  max-width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: 40em) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    list-style: none;
    border: 2px solid;
    margin-right: $base-spacing;
    margin-bottom: $base-spacing;
    width: 100%;

    @media (min-width: 40em) {
      flex: 1 1 calc(25% - $base-spacing);
      width: auto;
    }
  }

  &__link {
    background: $palette-plain;
    padding: $base-spacing * 1.5;
    display: block;
  }

  &__link:hover {
    box-shadow: 0 0px $base-spacing * 1.5 2px $palette-black
  }

  p {
    word-break: break-word;
  }
}

.content__wrapper {
  padding: 2rem;
  width: 100%;

  @media (min-width: 40em) {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  &-form {
    align-items: flex-end;
  }

  &.customer__wrapper {
    flex-direction: column;
  }
}

.customer__information {
  flex: 1 1 100%;
  margin-top: $base-spacing * 2;
}
